name: Test Node.js implementation

on: [push, pull_request]

jobs:
  test:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        runner:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        node-version:
          - 20.x
          - 22.x
          - 24.x
          - 25.x
    runs-on: ${{ matrix.runner }}
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: ${{ matrix.node-version }}
    - name: Check Node.js installation
      run: |
        node --version
        npm --version
    - name: Install dependencies
      run: npm ci
    - name: Configure and build addons
      run: |
        npm run addons:configure
        npm run addons:build
    - name: npm test
      if: matrix.node-version != '20.x'
      run: npm run node:test
    - name: npm test with amaro
      if: matrix.node-version == '20.x'
      run: npm run node:test
      env:
        # Using file scheme prefix when to enable imports on Windows
        NODE_OPTIONS: --import=file://${{ github.workspace }}/implementors/node/ts-strip.js
